# Ignore Git
.git
.gitignore

# Ignore all markdown files
*.md

# Ignore all log files
*.log

# Ignore Python compiled files and virtual environment
__pycache__
*.py[cod]
*.*~
*.pyc
*.pyo
*.pyd
.env
venv
*.egg-info/
dist/
build/
*.egg
