!*.gitkeep

/.fleet

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (venv or PyEnv)
venv/
.env
*.env
.pyenv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
**/.pytest_cache/

# SQLite database file (if used)
*.db
*.sqlite

# Logs
logs/
*.log

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.terraform.lock.hcl
*plan.out*
*tfplan*
