.main-view {
    font-family: 'Courier New', monospace;
    background-color: #000;
    color: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 20px;
    border: 5px solid #0f0;
}
.chat-section, .user-section {
    width: 600px;
    max-width: 80%;
    margin: 10px;
    border: 1px solid #0f0;
    padding: 10px;
}
.scrollable-text-area {
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    background-color: #000;
    color: #0f0;
    padding: 5px;
    font-size: 16px;
}
.message-user {
    font-weight: bold;
    color: purple;
}
.input-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.input-field {
    width: 85%;
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    font-size: 16px;
    resize: none;
    padding: 5px;
}
.button {
    width: 14%;
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    font-size: 16px;
    transition: all 0.3s ease;
}
.button:hover {
    border-color: #9370DB;
    color: #9370DB;
}
.button:active {
    border-color: #800080;
    color: #800080;
}
.user-data {
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    padding: 5px;
    font-size: 16px;
}
.user-input {
    margin-top: 10px;
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    font-size: 16px;
    padding: 5px;
    width: 100%;
}
.highlight {
    background-color: rgba(128, 0, 128, 0.2);
}
#debug {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#debug textarea {
    background-color: black;
    border-color: #0f0;
    color: #0f0;
    display: block;
    margin: 0;
    padding: 0;
    resize: none;
    width: 200px;
    height: 20px;
    font-family: monospace;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.loader::after {
    content: '';
    width: 50px;
    height: 50px;
    border: 5px solid #0f0;
    border-top: 5px solid purple;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}